/*! Figment v0.1.0 • github.com/kennethormandy/figment • MIT License */

// Variables

$fig-numbered:     true  !default;
$fig-border-color: #555  !default;
$fig-bg-color:     #FFF !default;
$fig-container:    700px !default;
$fig-gutter:       1em   !default;
$fig-line-height:  1.5 !default;

body {
  counter-reset: fig;
}

// Figure
//
// Media referenced within set text.
//
// Markup:
// <figure class="{$modifiers}">
//   <img src="public/images/example-1.jpg" alt="Napoleon Crossing the Alps" />
//   <figcaption>Jacques-Louis David, <cite>Napoleon Crossing the Alps</cite> or <cite>Bonaparte at the St Bernard Pass</cite>, <time>1800–1</time>. Oil on canvas, 102 × 87<abbr>in</abbr> (260 × 221<abbr>cm</abbr>). Chateau de Malmaison, Rueil-Malmaison.
// </figure>
//
// .figure--border   - A figure framed with a border.
//
// Styleguide 1.

// .figure--breakout - A figure that visually breaks the container when there is space available.
// .figure--browser  - A figure framed with browser chrome. (Should respond to vertical media queries to change device.)
// .figure--cropped  - A figure that can be acceptably cropped at certain screen sizes.
// .figure--device   - A figure framed with a mobile device. (Undecided how to specfiy a device.)
// .figure--embed    - A figure with media embedded from another service. (ex. Instagram, Vimeo, Twitter card.)
// .figure--square   - A figure contained within the largest square possible. (Could be part of embed.)

.figure,
figure {
  counter-increment: fig;
  margin-left: 0;
  margin-right: 0;
  img,
  svg,
  object,
  embed,
  video,
  iframe {
    display: block;
    width: 100%;
  }
}

.figure--border {
  img,
  svg,
  object,
  embed,
  video,
  iframe {
    border: 1px solid $fig-border-color;
  }
}

// Figure with Caption
//
// Descriptions of figures.
//
// Markup:
// <figure class="{$modifiers}">
//   <img src="public/images/example-1.jpg" alt="Napoleon Crossing the Alps" />
//   <figcaption>Jacques-Louis David, <cite>Napoleon Crossing the Alps</cite> or <cite>Bonaparte at the St Bernard Pass</cite>, <time>1800–1</time>. Oil on canvas, 102 × 87<abbr>in</abbr> (260 × 221<abbr>cm</abbr>). Chateau de Malmaison, Rueil-Malmaison.
//   </figcaption>
// </figure>
//
// .figure--border   - A figure framed with a border.
// .figure--overlay  - An image with an optional overlayed caption.
//
// Styleguide 1.1.

// .figure--breakout - A figure that visually breaks the container when there is space available.
// .figure--browser  - A figure framed with browser chrome. (Should respond to vertical media queries to change device.)
// .figure--cropped  - A figure that can be acceptably cropped at certain screen sizes.
// .figure--device   - A figure framed with a mobile device. (Undecided how to specfiy a device.)
// .figure--embed    - A figure with media embedded from another service. (ex. Instagram, Vimeo, Twitter card.)
// .figure--square   - A figure contained within the largest square possible. (Could be part of embed.)
// .figure--aside    - A figure with the caption as marginalia when possible.

.figure-caption,
figcaption {
  margin-top: 1em * ($fig-line-height / 3);
  margin-bottom: 1em * $fig-line-height;
  @if $fig-numbered == true {
    &:before {
      content: "Fig. " counter(fig) " ";
      font-weight: 600;
      font-style: normal;
      text-transform: lowercase;
      font-feature-settings: "liga", "kern", "pnum", "lnum", "smcp", "c2sc";
    }
  }
  // padding: 0.25em;
  // @include media($mid) {
  //   padding: 0.5em
  // }
}

.figure--overlay {
  position: relative;
  .figure-caption,
  figcaption {
    @media (min-width: $fig-container * 0.75) {
      font-size: 0.8em; // ?
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      position: absolute;
      top: $fig-gutter;
      left: $fig-gutter;
      padding: $fig-gutter;
      max-width: $fig-container / 3;
      // float: left;
      background-color: rgba($fig-bg-color, 0.75);
      text-shadow: 0 0 5px $fig-bg-color;
    }
  }
}
