/*! Figment v0.1.0 • kennethormandy.com/journal/fig • MIT License */

// Variables

$fig-numbered:     true  !default;
$fig-border-color: #555  !default;
$fig-container:    700px !default;

body {
  counter-reset: fig;
}

// Figure
//
// Media referenced within set text.
//
// Markup:
// <figure class="{$modifiers}">
//   <img src="public/images/example-1.jpg" alt="" />
// </figure>
//
// .figure--border   - A figure framed with a border.
//
// Styleguide 1.

// .figure--breakout - A figure that visually breaks the container when there is space available.
// .figure--browser  - A figure framed with browser chrome. (Should respond to vertical media queries to change device.)
// .figure--cropped  - A figure that can be acceptably cropped at certain screen sizes.
// .figure--device   - A figure framed with a mobile device. (Undecided how to specfiy a device.)
// .figure--embed    - A figure with media embedded from another service. (ex. Instagram, Vimeo, Twitter card.)
// .figure--square   - A figure contained within the largest square possible. (Could be part of embed.)

.figure,
figure {
  counter-increment: fig;
  margin-left: 0;
  margin-right: 0;
  img,
  svg,
  object,
  embed,
  video,
  iframe {
    display: block;
    width: 100%;
  }
}

.figure--border {
  img,
  svg,
  object,
  embed,
  video,
  iframe {
    border: 1px solid $fig-border-color;
  }
}

// Figure with Caption
//
// Descriptions of figures.
//
// Markup:
// <figure class="{$modifiers}">
//   <img src="public/images/example-1.jpg" alt="" />
//   <figcaption>Jacques-Louis David, <cite>Napoleon Crossing the Alps</cite> or
//     <cite>Bonaparte at the St Bernard Pass</cite>, <time>1800–1</time>.
//     Oil on canvas, 102 × 87<abbr>in</abbr> (260 × 221<abbr>cm</abbr>).
//     Chateau de Malmaison, Rueil-Malmaison.
//   </figcaption>
// </figure>
//
// .figure--border   - A figure framed with a border.
//
// Styleguide 1.1.

// .figure--breakout - A figure that visually breaks the container when there is space available.
// .figure--browser  - A figure framed with browser chrome. (Should respond to vertical media queries to change device.)
// .figure--cropped  - A figure that can be acceptably cropped at certain screen sizes.
// .figure--device   - A figure framed with a mobile device. (Undecided how to specfiy a device.)
// .figure--embed    - A figure with media embedded from another service. (ex. Instagram, Vimeo, Twitter card.)
// .figure--square   - A figure contained within the largest square possible. (Could be part of embed.)
// .figure--aside    - A figure with the caption as marginalia when possible.
// .figure--overlay  - An image with an optional overlayed caption.

.figure-caption,
figcaption {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  @if $fig-numbered == true {
    &:before {
      content: "Fig. " counter(fig) " ";
      font-weight: 600;
      font-style: normal;
      text-transform: lowercase;
      font-feature-settings: "liga", "kern", "pnum", "lnum", "smcp", "c2sc";
    }
  }
  // padding: 0.25em;
  // @include media($mid) {
  //   padding: 0.5em
  // }
}
