html,
body {
}

.kss-mod-example {
}

.kss-wrapper {
  color: #333;
  line-height: 1.45;
  max-width: 700px;
  font-family: "Georgia";
  margin: 0 auto;
  font-size: 1.125em;
}

.kss-mod-list {
  padding-left: 0;
  padding-right: 0;
}

.kss-markup {
  display: block;
  code {
    overflow-x: scroll;

    padding: 1em;
    display: block;
    background: #333;
    color: #DDD;
    border-radius: 3px;
  }
}

// Prism

/* http://prismjs.com/download.html?themes=prism-coy&languages=markup+css+clike+javascript */

/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*="language-"],
pre[class*="language-"] {
  font-family: "Fira Mono", Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

pre[class*="language-"] {
	position: relative;
	max-height: 30em;
}

code[class*="language"] {
	max-height: inherit;
	height: 100%;
	display: block;
	overflow: auto;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #CCC;
}

.token.punctuation {
	color: #888;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: lighten(#369699, 10%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #CCC;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: lighten(#369699, 10%);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: lighten(#369699, 20%);
}

.token.regex,
.token.important {
	color: lighten(#369699, 10%);
}

.language-css .token.string,
.style .token.string {
	background: lighten(#369699, 10%);
}

.token.important {
	font-weight: normal;
}

.token.entity {
	cursor: help;
}

.namespace {
	opacity: .7;
}
