<figure class="figure--embed figure--square">
  <div class="embed-container">
    <blockquote class="instagram-media" data-instgrm-version="4"><a href="https://instagram.com/p/kz8ibZkn0C/" target="_top"></a></blockquote>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
  </div>
  <figcaption>A contemporary, Kurdish version of <cite>Napoleon Crossing the Alps</cite>, seen on the streets of Arbil.</figcaption>
</figure>

<hr>

<figure class="figure--embed figure--square">
  <div class="embed-container">
      <iframe async defer src="//instagram.com/p/kz8ibZkn0C/embed/" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
    </div>
  <figcaption>A contemporary, Kurdish version of <cite>Napoleon Crossing the Alps</cite>, seen on the streets of Arbil.</figcaption>
</figure>
